@media (max-width: 75em){
    html{
        font-size: 60%;
    }
}

#welcome-section{
    height: 100vh;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
}